<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">
      Data Source=NASA-COMPUTER\SQLEXPRESS;Initial Catalog=Herna;User Id=sa;Password=Dav542544;
    </property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <mapping assembly="DataHer"/>
  </session-factory>

</hibernate-configuration>